.el-input--prefix .el-input__inner{
    padding-left: 37px !important;
}
.input-search{
    .el-input__inner{
        background: $grayLight;
        border: 0;
        padding: 20px 35px;
        border-radius: 20px;
        height: 20px;
        &::placeholder{
            color:rgba(112,117,121,.5);
            font-size: 14px;
            text-transform: capitalize;
            
        }
        &:focus{
            background: white;
            border: 2px solid $blueGeneral;
        }
    }
    .el-input__prefix{
        font-weight: 600;
        font-size: 16px;
        padding-left: 5px;
    }
}
.input-message{
    .el-input__inner{
        border:0;
        background: transparent;
        margin: 0;
        height: 25px;
        &::placeholder{
            color:#c1c3c5;
            font-size: 14px;
            text-transform: capitalize;
        }
    }
}