.no_images{
    display:grid;
    place-items: center;
    margin:0;
    border-radius: 50%;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}